<!DOCTYPE html>

<html>

<head>
	<title>Add product</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="html" type="text/html" media="all" />
</head>

<body>
    <body>
  <div id="main">
   

	<h2 style="font-size:60px; color:#09D4FF; ">Adding product to Database</h2>
	
	<form action="/addProduct" method="POST">
		
		<p>
            <label for="name">Name</label>
			<input type="text" name="Name" id="name" placeholder="ball" style="width: 500px;height:25px;"/>
			
		</p>
	<p> 
            <label for="madein">Madein</label>
			<input type="text" name="Madein" id="madein" placeholder="USA" style="width: 500px;height:25px;"/>
			
		</p>		
            <label for="picture">Picture</label>
	        <input type="text" name="Picture" id="picture" placeholder="picture" style="width: 500px;height:25px;"/>
			

		<p>
            <label for="price">Price</label>
			<input type="text" name="Price" id="price" placeholder="20$" style="width: 500px;height:25px;"/>
			
		</p>
	

  
		<p class="submit">
		<input type="submit" value="Add" style="
    background: #52c5fc;
    text-align: center;
    width: 70px;">
		</p>
	</form>



</body>

</html>